In [1]:
import pandas as pd
data = pd.read_csv("holiday.csv")
print(data)

    S/N  Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City  \
0     1     Australia       3             4         15            Sydney
1     2       Bahamas       9             3         12            Nassau
2     3      Barbados       8             3         10        Bridgetown
3     4        Brazil       6             3          9    Rio de Janeiro
4     5        France       4             4         17             Paris
5     6         Japan       7             3          8             Tokyo
6     7         Kenya       6             3          7           Nairobi
7     8      Malaysia       5             3         10      Kuala Lumpur
8     9       Nigeria       4             3          9             Lagos
9    10  South Africa       6             3          8      Johannesburg
10   11         Spain       9             5         13         Barcelona
11   12      Thailand       6             3          5           Bangkok
12   13           UAE       7             5         28             Dubai
13   14            UK       8             3         16            London
14   15           USA       7             5         25     New York City

    Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10
0          NaN         NaN         NaN         NaN          NaN
1          NaN         NaN         NaN         NaN          NaN
2          NaN         NaN         NaN         NaN          NaN
3          NaN         NaN         NaN         NaN          NaN
4          NaN         NaN         NaN         NaN          NaN
5          NaN         NaN         NaN         NaN          NaN
6          NaN         NaN         NaN         NaN          NaN
7          NaN         NaN         NaN         NaN          NaN
8          NaN         NaN         NaN         NaN          NaN
9          NaN         NaN         NaN         NaN          NaN
10         NaN         NaN         NaN         NaN          NaN
11         NaN         NaN         NaN         NaN          NaN
12         NaN         NaN         NaN         NaN          NaN
13         NaN         NaN         NaN         NaN          NaN
14         NaN         NaN         NaN         NaN          NaN