In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("holiday.csv")
print(data)

    Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
0      Australia       3             4         15            Sydney
1        Bahamas       9             3         12            Nassau
2       Barbados       8             3         10        Bridgetown
3         Brazil       6             3          9    Rio de Janeiro
4         France       4             4         17             Paris
5          Japan       7             3          8             Tokyo
6          Kenya       6             3          7           Nairobi
7       Malaysia       5             3         10      Kuala Lumpur
8        Nigeria       4             3          9             Lagos
9   South Africa       6             3          8      Johannesburg
10         Spain       9             5         13         Barcelona
11      Thailand       6             3          5           Bangkok
12           UAE       7             5         28             Dubai
13            UK       8             3         16            London
14           USA       7             5         25     New York City

In [7]:
#How many rows and columns are there in your file?
data.shape

(15, 5)

In [10]:
#Print row 3-8 ( using iloc/loc)
print(data.iloc[3:9])

  Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
3       Brazil       6             3          9    Rio de Janeiro
4       France       4             4         17             Paris
5        Japan       7             3          8             Tokyo
6        Kenya       6             3          7           Nairobi
7     Malaysia       5             3         10      Kuala Lumpur
8      Nigeria       4             3          9             Lagos

In [11]:
#Find the mean number of all inclusive hotels across all destinations
data["Hotels_No"].mean()

12.8

In [17]:
#Create filter
filter1 = data["Scores"] > 5
filter2 = data["Scores"] <= 5

In [18]:
#Find the lowest scoring destination
lowscore = data[filter2]

print(lowscore)

  Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
0    Australia       3             4         15            Sydney
4       France       4             4         17             Paris
7     Malaysia       5             3         10      Kuala Lumpur
8      Nigeria       4             3          9             Lagos

In [19]:
#Find the highest scoring destination
highscore = data[filter1]

print(highscore)

    Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
1        Bahamas       9             3         12            Nassau
2       Barbados       8             3         10        Bridgetown
3         Brazil       6             3          9    Rio de Janeiro
5          Japan       7             3          8             Tokyo
6          Kenya       6             3          7           Nairobi
9   South Africa       6             3          8      Johannesburg
10         Spain       9             5         13         Barcelona
11      Thailand       6             3          5           Bangkok
12           UAE       7             5         28             Dubai
13            UK       8             3         16            London
14           USA       7             5         25     New York City

In [20]:
#Create filter2
filter3 = data["Hotels_No"] > 9

In [21]:
#Find all the destinations where there are more than 9 all inclusive hotels.
Allinclusive9 = data[filter3]

print(Allinclusive9)

   Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
0     Australia       3             4         15            Sydney
1       Bahamas       9             3         12            Nassau
2      Barbados       8             3         10        Bridgetown
4        France       4             4         17             Paris
7      Malaysia       5             3         10      Kuala Lumpur
10        Spain       9             5         13         Barcelona
12          UAE       7             5         28             Dubai
13           UK       8             3         16            London
14          USA       7             5         25     New York City

In [22]:
#Filter the data by score above 8.
filter4 = data["Scores"] > 8
above8 = data[filter4]

print(above8)

   Destinations  Scores   Star_Rating  Hotels_No Most_Visited_City
1       Bahamas       9             3         12            Nassau
10        Spain       9             5         13         Barcelona

In [23]:
#Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)
filter5 = data["Scores"] < 2
below2 = data[filter5]

print(below2)

Empty DataFrame
Columns: [Destinations, Scores,  Star_Rating, Hotels_No, Most_Visited_City]
Index: []

In [7]:
import numpy as np
import matplotlib.pyplot as plt

In [19]:
#Create a data visualisation diagram to show destination and highest scores?
import pandas as pd
import seaborn as sns
data = pd.read_csv("holiday.csv")